* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box;  */
    
}

body {
    font-family: 'Anton', sans-serif;
    font-size: 17;
    line-height: 1.5;
    font-weight: 400;
    background-color: rgba(32, 168, 178, 0.582);
    color: lightcoral;
    display: flex;
    flex-direction: column;
    /* height:2000px; */
    min-height: 100vh;
    max-width: 100%; 
    overflow-x: hidden;
    /* align-items: flex-start; */
    align-items: center;
    /* justify-content: center; */  
    
}

.navbar a {
    z-index: 50;
    font-size: 2.5rem;
    float: left;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    display: block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
li {
    display: inline;
}

.sticky {
    position: fixed;
    top: 0;
}
.sticky + .content {
    padding-top: 60px;
}


.container {
    /* margin-top: 100px;
    margin-bottom: 50px; */
    user-select: none;
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}

.container .animate3D {
    display: flex;
    width: 70%;
    height: 55%;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
}

.container .title {
    font-size: 3.2rem;
    background-color: aquamarine;
    height: 200px;
    width: 760px;
    border-radius: 30px;
    transform-style: preserve-3d; 
    box-shadow: 0 20px 20px rgba(0,0,0,0.3);
    /* align-items: center; */
    /* justify-content: center;  */
}

.fullname {
    /* width: 200px; */
    
    margin: 20px;
    /* border: 3px solid #333;
    background-color: #dfdfdf; */
    position: fixed;
    text-shadow: 0 20px 20px rgba(0,0,0,0.3);
    transition: all 0.5s ease-out;
    
}
.firstName {
    
    right: 360px;
    
}

.lastName {
    /* position: fixed; */
    left: 400px;
}

.bio {
    font-size: 2rem;
    display: flex;
    height: 1000px;
    width: 100%;
    background-color: bisque;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    
}
.content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.photo {
    margin: 50px;
}
.aboutme {
    margin: 50px;
    display: flex;
    flex-direction: column;
}

.hidden {
    opacity: 0;
    transition: all 3s;
}

.show {
    opacity: 1;
}

.projects {
    /* display: flex;
    flex-direction: column; */
    /* display: block; */
    margin-top: 50px;
    /* text-align: center; */
    height: auto;
    width: 100%;
    background-color: rgb(125, 77, 17);
    /* align-items: center;
    justify-content: center; */
}
.projects > .title {
    text-align: center;
}

.timeline {
    /* padding: 10px; */
    position: relative;
    /* height: 2000px; */
    /* text-align: center; */
}

.line {
    position: absolute;
    left: calc(50%);
    width: 2px;
    top: 50px;
    bottom: -50px;
    background-color: black;
}

.line::before,
.line::after {
    position: absolute;
    display: block;
    content: '';
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: #000;
    left: 50%;
    transform: translateX(-50%);
}

.line::after {
    bottom: 0;
}

.projects .section {
    display: flex;
    opacity: 0; 
    transform: translateX(-100%);
    transition: 600ms ease;
    position: relative;
    z-index: 1;
    margin: 70px;
    padding: 2rem;
    border-radius: 1rem;
    align-items: center;
    /* background-color: #000; */
}

.section:nth-child(odd) {
    flex-direction: row-reverse;
    transform: translateX(100%);
}

.bead {
    position: absolute;
    display: block;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: #000;
    left: 50%;
    transform: translateX(-50%);
}

.projects .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(50% - 2rem); 
}

.show-me:nth-child(n) {
    transform: none;
    opacity: 1;
}

.section h2 {
    font-weight: 400;
    letter-spacing: 1px;
}

.game::before, .game::after {
    box-sizing: border-box;
    user-select: none;
}

.game {
    /* z-index: -2; */
    user-select: none;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 1000px;
    background-color: blueviolet;

}

.screen {
    position: absolute;
    margin: 50px;
    /* z-index: -1; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 80%;
    height: 80%;
    background-image: url("./game/models/space.jpg");
    background-size: cover;
    max-width: 70vw;
}
.space {
    width: 50%;
    /* z-index: 1; */
}

.start-screen {
    position: absolute;
    font-size: 2.5rem;
    top: 45%;
    right: 38%;
}

.score {
    position: absolute;
    font-size: 4vmin;
    right: 1vmin;
    top: 1vmin;
}

.x-wing {
    --left: 40px;
    --bottom: 1;
    /* z-index: 2; */
    width: 10%;
    position: relative;
    /* top: calc(var(--top) * 1%); */
    top: 680;
    /* right: calc(var(--right) * 1%); */
    left: 445;
    /* left: calc(var(--left) * 1%); */

}

.asteroid {
    position: absolute;
    left: calc(var(--left) * 1%);
    width: 10%;
    top: 0;
}

.hide {
    display: none;
}