* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Anton', sans-serif;
    font-size: 50;
    background-color: rgba(32, 168, 178, 0.582);
    color: lightcoral;
    display: flex;
    height:2000px;
    min-height: 100vh;
    /* align-items: center; */
    justify-content: center;
    perspective: 1000px;  
    
}

.container {
    width: 900;
    height: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.title {
    background-color: aquamarine;
    /* height: 200px;
    width: 1000px; */
    /* border-radius: 30px; */
    /* transform-style: preserve-3d; */
    /* box-shadow: 0 20px 20px rgba(0,0,0,0.3); */
    /* align-items: center; */
    /* justify-content: center;  */
    transform-style: preserve-3d;
}

.fullname {
    /* width: 200px; */
    
    margin: 20px;
    /* border: 3px solid #333;
    background-color: #dfdfdf; */
    position: fixed;
    text-shadow: 0 20px 20px rgba(0,0,0,0.3);
    transition: all 0.5s ease-out;
    
}
.firstName {
    
    left: -340px;
    
}

.lastName {
    /* position: fixed; */
    left: 0px;
}

.test {
    position: 20000;
}